<!DOCTYPE html>
<html lang="en">
    <body style="background-color:#d9dee0;">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Social Media ETL</title>
        <style>
        #content {
            background-color: #ddd;
            border-radius: 8px;
            padding: 1em;
        }
        </style>
        <center>
        <h1>Social Media Pipeline </h1>
        </center>
    </head>
    <center>
        <body>

            <body>
                <form action="/openuserfolder" method ="post">
                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(195, 169, 39);color:white;"  
                    name="openuserfolder" 
                    value="openuserfolder"> Open User Input </button>
                    <h3></h3>
                </form> 
            </body>

            <body>
                <form action="/opencredfolder" method ="post">
                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(195, 169, 39);color:white;"  
                    name="opencredfolder" 
                    value="opencredfolder"> Open Credential Input </button>
                    <h3></h3>
                </form> 
            </body>

            <h3>Upload Twitter User Handles (.xlsx)</h3>
            <form  action="/userupload" method="post" enctype="multipart/form-data">
                <input 
                type="file"
                name="file"
                style="background: rgba(239, 239, 240, 1);color:rgb(0, 0, 0);"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                <input 
                type="submit"
                style="background: rgb(0, 83, 139);color:white;"
                value="Upload">

            </form>

            <h3>Upload Stock Tickers With Company Names (.xlsx)</h3>
            <form  action="/tickerupload" method="post" enctype="multipart/form-data">
                <input 
                type="file"
                name="file"
                style="background: rgba(239, 239, 240, 1);color:rgb(0, 0, 0);"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                <input 
                type="submit"
                style="background: rgb(0, 83, 139);color:white;"
                value="Upload">

            </form>
        </body>

            &nbsp;
            <body>
                <form action="/etl" method ="post">

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 105, 197);color:white;"  
                    name="run_all" 
                    value="run_all"> Run All </button>
                    <h3></h3>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="extract_twitter" 
                    value="extract_twitter"> 1. extract twitter </button>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="transform_twitter" 
                    value="transform_twitter"> 2. transform twitter </button>
                    <h3></h3>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="load_mysql_twitter_extract" 
                    value="load_mysql_twitter_extract"> 3. load mysql twitter extract </button>
                    
                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="load_mysql_twitter_transform" 
                    value="load_mysql_twitter_transform"> 4. load mysql Twitter transform </button>
                    <h3></h3>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="extract_stocks" 
                    value="extract_stocks"> 5. extract and transform stocks </button>
                    <h3></h3>


                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 139, 42);color:white;"  
                    name="stock_prediction" 
                    value="stock_prediction"> 6. stock prediction </button>
                    <h3></h3>

                </form> 
            </body>
        <body>
            <form action="/opendatafolder" method ="post">
                &emsp;
                <button 
                type="submit"
                onclick="toggle();"
                style="background: rgb(195, 169, 39);color:white;"  
                name="opendatafolder" 
                value="opendatafolder"> Open output data </button>
                <h3></h3>
            </form> 
        </body>
    </center>
</html>


