<!DOCTYPE html>
<html lang="en">

    <!--  Load CSS in Flask with html-->
    <link href="mystyle.css" rel="stylesheet" type="text/css" />
    <!--  Load JavaScript in Flask with html-->
    <!-- <script>
        alert("Welcome to Social Media Platform!")
    </script> -->

    <body style="background-color:#d9dee0;">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Social Media ETL</title>
        <style>
        #content {
            background-color: #ddd;
            border-radius: 8px;
            padding: 1em;
        }
        </style>
        <center>
        <h1><u>Social Media Pipeline</u> </h1>
        </center>
    </head>
    <center>
        <body>
            
            <body>
                <form action="/opencredfolder" method ="post">
                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(195, 169, 39);color:white;"  
                    name="opencredfolder" 
                    value="opencredfolder"> Open Credential Input Folder</button>
                    <h3></h3>
                </form> 
            </body>

            <a href="https://developer.twitter.com/en/portal/projects-and-apps">Create Twitter APP</a>
            <h3></h3>
            <body>
                <form action="/twitterkey" method ="post">

                    <p>Consumer Key <input type = "text" name = "consumer_key" /></p>
                    <p>Consumer Secret <input type = "text" name = "consumer_secret" /></p>
                    <p>Authentication Access Token <input type = "text" name = "access_token" /></p>
                    <p>Authentication Access Token Secret <input type = "text" name = "access_token_secret" /></p>

                    &emsp;

                </form> 
            </body>
            <body>
                <form action="/openuserfolder" method ="post">
                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(195, 169, 39);color:white;"  
                    name="openuserfolder" 
                    value="openuserfolder"> Open User Input Folder </button>
                    <h3></h3>
                </form> 
            </body>

            <h3>Upload Twitter User Handles (.xlsx)</h3>
            <form  action="/userupload" method="post" enctype="multipart/form-data">
                <input 
                type="file"
                name="file"
                style="background: rgba(239, 239, 240, 1);color:rgb(0, 0, 0);"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                <input 
                type="submit"
                style="background: rgb(0, 83, 139);color:white;"
                value="Upload">

            </form>

            <h3>Upload Stock Tickers With Company Names (.xlsx)</h3>
            <form  action="/tickerupload" method="post" enctype="multipart/form-data">
                <input 
                type="file"
                name="file"
                style="background: rgba(239, 239, 240, 1);color:rgb(0, 0, 0);"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                <input 
                type="submit"
                style="background: rgb(0, 83, 139);color:white;"
                value="Upload">

            </form>
        </body>

            &nbsp;
            <body>
                <form action="/etl" method ="post">

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 105, 197);color:white;"  
                    name="run_all" 
                    value="run_all"> Run All </button>
                    <h3></h3>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="extract_twitter" 
                    value="extract_twitter"> 1. Extract Twitter </button>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="transform_twitter" 
                    value="transform_twitter"> 2. Transform Twitter </button>
                    <h3></h3>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="load_mysql_twitter_extract" 
                    value="load_mysql_twitter_extract"> 3. Load mysql Twitter Extract </button>
                    
                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="load_mysql_twitter_transform" 
                    value="load_mysql_twitter_transform"> 4. Load mysql Twitter Transform </button>
                    <h3></h3>

                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 83, 139);color:white;"  
                    name="extract_stocks" 
                    value="extract_stocks"> 5. Extract and Transform Stocks </button>
                    <h3></h3>


                    &emsp;
                    <button 
                    type="submit"
                    onclick="toggle();"
                    style="background: rgb(0, 139, 42);color:white;"  
                    name="stock_prediction" 
                    value="stock_prediction"> 6. Stock Prediction </button>
                    <h3></h3>

                </form> 
            </body>
        <body>
            <form action="/opendatafolder" method ="post">
                &emsp;
                <button 
                type="submit"
                onclick="toggle();"
                style="background: rgb(195, 169, 39);color:white;"  
                name="opendatafolder" 
                value="opendatafolder"> Open output data </button>
                <h3></h3>
            </form> 
        </body>
    </center>
</html>


